body { background: #8e368; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-cart-0 { color: #2f54af; font-size: 17px; margin-bottom: 5px; }
.block-helper-1 { color: #10c79c; font-size: 12px; margin-bottom: 5px; }
.block-invoice-2 { color: #3f0da; font-size: 20px; margin-bottom: 5px; }
.block-helper-3 { color: #dcab84; font-size: 15px; margin-bottom: 5px; }
.block-filter-4 { color: #e07735; font-size: 19px; margin-bottom: 5px; }